section#disclaimer
  p This is an interactive presentation. Use the right arrow key, spacebar, or swipe right to navigate.
  p(data-jmpress="fade-fast")
    | The little icon on the bottom 
    span(data-jmpress="fade after 500ms prev") appears 
    span(data-jmpress="fade after 500ms prev") when there are no more hidden animations to display.
  p(data-jmpress="fade-fast")
    | Should you accidentally jump a step
    span(data-jmpress="fade after 500ms prev") , you can always rewind with the left arrow key.
  p(data-jmpress="fade-fast")
    | Sit back
    span(data-jmpress="fade after 1000ms prev")
      | ,
      br
      | relax
    span(data-jmpress="fade after 1000ms prev")
      | ,
      br
      | and enjoy the story.
      
section#fallback(data-exclude)
  p
    | It would seem like your browser can't handle the full version of this presentation. To experience it correctly, please install the latest version of 
    a(href="https://www.google.com/intl/en/chrome/browser/", target="_blank") Google Chrome
    |  or 
    a(href="http://www.mozilla.org/en-US/firefox/new/", target="_blank") Mozilla Firefox
    | .
  p You are currently being presented a simplified version of this presentation. Scroll down to read.

section
  p Isaac Asimov was the most prolific science fiction author of all time.
  p(data-jmpress="fade-fast")
    | In fifty years he averaged a new magazine article
    span(data-jmpress="fade after 1000ms prev") , short story
    span(data-jmpress="fade after 500ms prev") , or book 
    span(data-jmpress="fade after 500ms prev") every two weeks, and most of that on a manual typewriter.
  p(data-jmpress="fade-fast") Asimov thought that The Last Question, first copyrighted in 1956, was his best short story ever.

section
  p
    | Even if you do not have the background in 
    i.icon-beaker
    |  science to be familiar with all of the concepts presented here, the ending packs more impact than any other book that I've ever read.
  p(data-jmpress="fade-fast") Don't try jumping to the end of the story first!

section
  p To quote the author:
  blockquote
    p
      em This is by far my favorite story of all those I have written.
    p(data-jmpress="fade-fast")
      em After all, I undertook to tell several trillion years of human history in the space of a short story and I leave it to you as to how well I succeeded. I also undertook another task, but I won't tell you what that was lest l spoil the story for you.
    p(data-jmpress="fade-fast")
      em It is a curious fact that innumerable readers have asked me if I wrote this story. They seem never to remember the title of the story or (for sure) the author, except for the vague thought it might be me. But, of course, they never forget the story itself especially the ending. The idea seems to drown out everything -- and I'm satisfied that it should.