section#final-part
  p
    | Matter and energy had ended and with it space and time. 
    span(data-jmpress="fade-fast") Even AC existed only for the sake of the one last question 
    span(data-jmpress="fade after 1000ms prev") that it had never answered from the time a half-drunken computer [technician] 
    span(data-jmpress="fade after 1000ms prev") ten trillion years before had asked the question of a computer that was to AC far less than was a man to Man.
  p(data-jmpress="fade-fast")
    | All other questions had been answered
    span(data-jmpress="fade after 1000ms prev") , and until this last question was answered also
    span(data-jmpress="fade after 1000ms prev") , AC might not release his consciousness.
  p(data-jmpress="fade-fast")
    | All collected data had come to a final end. 
    span(data-jmpress="fade-fast") Nothing was left to be collected.
  p(data-jmpress="fade-fast") But all collected data had yet to be completely correlated and put together in all possible relationships.
  p(data-jmpress="fade-fast") A timeless interval was spent in doing that.

section
  p And it came to pass that AC learned how to reverse the direction of entropy.
  p(data-jmpress="fade-fast")
    | But there was now no man to whom AC might give the answer of the last question. 
    span(data-jmpress="fade-fast") No matter. 
    span(data-jmpress="fade after 1000ms prev") The answer 
    span(data-jmpress="fade after 500ms prev") -- by demonstration -- 
    span(data-jmpress="fade after 500ms prev") would take care of that, too.
  p(data-jmpress="fade-fast")
    | For another timeless interval
    span(data-jmpress="fade after 1000ms prev") , AC thought how best to do this. 
    span(data-jmpress="fade-fast") Carefully, AC organized the program.
  p(data-jmpress="fade-fast")
    | The consciousness of AC encompassed all of what had once been a Universe and brooded over what was now Chaos. 
    span(data-jmpress="fade-fast") Step by step, it must be done.
  p(data-jmpress="fade-fast") And AC said, 

section#thend
  p
    span(data-jmpress="fade after 500ms step") LET 
    span(data-jmpress="fade after 500ms prev") THERE 
    span(data-jmpress="fade after 500ms prev") BE 
    span(data-jmpress="fade after 500ms prev") LIGHT!
  p.light(data-jmpress="fade after 1000ms prev") And there was light --

section#credits
  h1 The end.