section#black
  p
    | The stars and Galaxies died and snuffed out
    span(data-jmpress="fade after 1000ms step") , and space grew black after ten trillion years of running down.
  p(data-jmpress="fade-fast")
    | One by one Man fused with AC
    span(data-jmpress="fade after 1000ms prev") , each physical body losing its mental identity in a manner that was somehow not a loss but a gain.
  p(data-jmpress="fade-fast")
    | Man's last mind paused before fusion
    span(data-jmpress="fade after 1000ms prev") , looking over a space that included nothing but the dregs of one last dark star and nothing besides but incredibly thin matter
    span(data-jmpress="fade after 1000ms prev") , agitated randomly by the tag ends of heat wearing out
    span(data-jmpress="fade after 1000ms prev") , asymptotically
    span(data-jmpress="fade after 1000ms prev") , to the absolute zero.

section
  p
    | Man said, "AC, is this the end? 
    span(data-jmpress="fade-fast") Can this chaos not be reversed into the Universe once more? 
    span(data-jmpress="fade-fast") Can that not be done?"
  p.answer(data-jmpress="fade-fast") INSUFFICIENT DATA FOR A MEANINGFUL ANSWER.
  p(data-jmpress="fade-fast")
    | Man's last mind fused and only AC existed 
    span(data-jmpress="fade after 1000ms prev") -- and that in hyperspace.
  hr(data-jmpress="fade after 1000ms prev")