section#back-galaxy(data-z="-10000", data-scale="13", data-exclude)
section#galaxy
  p
    | Zee Prime's mind spanned the new Galaxy with a faint interest in the countless twists of stars that powdered it. 
    span(data-jmpress="fade-fast") He had never seen this one before. 
    span(data-jmpress="fade after 1000ms prev") Would he ever see them all? 
    span(data-jmpress="fade-fast") So many of them
    span(data-jmpress="fade after 500ms prev") , each with its load of humanity. 
    span(data-jmpress="fade-fast") --But a load that was almost a dead weight. 
    span(data-jmpress="fade after 1000ms prev") More and more
    span(data-jmpress="fade after 500ms prev") , the real essence of men was to be found out here
    span(data-jmpress="fade after 1000ms prev") , in space.
  p(data-jmpress="fade-fast")
    | Minds, not bodies! 
    span(data-jmpress="fade-fast") The immortal bodies remained back on the planets
    span(data-jmpress="fade after 1000ms prev") , in suspension over the eons. 
    span(data-jmpress="fade-fast") Sometimes they roused for material activity but that was growing rarer. 
    span(data-jmpress="fade-fast") Few new individuals were coming into existence to join the incredibly mighty throng
    span(data-jmpress="fade after 1000ms prev") , but what matter? 
    span(data-jmpress="fade after 500ms prev") There was little room in the Universe for new individuals.
  p(data-jmpress="fade-fast") Zee Prime was roused out of his reverie upon coming across the wispy tendrils of another mind.

section
  p
    | "I am Zee Prime," said Zee Prime. 
    span(data-jmpress="fade after 1000ms step") "And you?"
  p(data-jmpress="fade-fast")
    | "I am Dee Sub Wun. 
    span(data-jmpress="fade after 500ms prev") Your Galaxy?"
  p(data-jmpress="fade-fast")
    | "We call it only the Galaxy. 
    span(data-jmpress="fade after 1000ms prev") And you?"
  p(data-jmpress="fade-fast")
    | "We call ours the same. 
    span(data-jmpress="fade after 1000ms prev") All men call their Galaxy their Galaxy and nothing more. 
    span(data-jmpress="fade after 1000ms prev") Why not?"
  p(data-jmpress="fade-fast") "True. Since all Galaxies are the same."
  p(data-jmpress="fade-fast")
    | "Not all Galaxies. 
    span(data-jmpress="fade-fast") On one particular Galaxy the race of man must have originated. 
    span(data-jmpress="fade after 1000ms prev") That makes it different."

section
  p Zee Prime said, "On which one?"
  p(data-jmpress="fade-fast")
    | "I cannot say. 
    span(data-jmpress="fade after 1000ms prev") The Universal AC would know."
  p(data-jmpress="fade-fast")
    | "Shall we ask him? 
    span(data-jmpress="fade after 1000ms prev") I am suddenly curious."
  p(data-jmpress="fade-fast")
    | Zee Prime's perceptions broadened until the Galaxies themselves shrank and became a new
    span(data-jmpress="fade after 1000ms prev") , more diffuse powdering on a much larger background. 
    span(data-jmpress="fade-fast") So many hundreds of billions of them
    span(data-jmpress="fade after 1000ms prev") , all with their immortal beings
    span(data-jmpress="fade after 1000ms prev") , all carrying their load of intelligences with minds that drifted freely through space. 
    span(data-jmpress="fade-fast") And yet one of them was unique among them all in being the original Galaxy. 
    span(data-jmpress="fade-fast") One of them had
    span(data-jmpress="fade after 1000ms prev") , in its vague and distant past
    span(data-jmpress="fade after 1000ms prev") , a period when it was the only Galaxy populated by man.

section
  p
    | Zee Prime was consumed with curiosity to see this Galaxy and he called out: 
    span(data-jmpress="fade after 1000ms step") "Universal AC! On which Galaxy did mankind originate?"
  p(data-jmpress="fade-fast")
    | The Universal AC heard
    span(data-jmpress="fade after 500ms prev") , for on every world and throughout space
    span(data-jmpress="fade after 1000ms prev") , it had its receptors ready
    span(data-jmpress="fade after 500ms prev") , and each receptor led through hyperspace to some unknown point where the Universal AC kept itself aloof.
  p(data-jmpress="fade-fast")
    | Zee Prime knew of only one man whose thoughts had penetrated within sensing distance of Universal AC
    span(data-jmpress="fade after 1000ms prev") , and he reported only a shining globe
    span(data-jmpress="fade after 500ms prev") , two feet across
    span(data-jmpress="fade after 500ms prev") , difficult to see.
  p(data-jmpress="fade-fast") "But how can that be all of Universal AC?" Zee Prime had asked.
  p(data-jmpress="fade-fast")
    | "Most of it," had been the answer, "is in hyperspace. 
    span(data-jmpress="fade-fast") In what form it is there I cannot imagine."

section
  p
    | Nor could anyone
    span(data-jmpress="fade after 1000ms step") , for the day had long since passed
    span(data-jmpress="fade after 500ms prev") , Zee Prime knew
    span(data-jmpress="fade after 500ms prev") , when any man had any part of the making of a Universal AC. 
    span(data-jmpress="fade-fast") Each Universal AC designed and constructed its successor. 
    span(data-jmpress="fade-fast") Each, during its existence of a million years or more accumulated the necessary data to build a better and more intricate
    span(data-jmpress="fade after 1000ms prev") , more capable successor in which its own store of data and individuality would be submerged.
  p(data-jmpress="fade-fast")
    | The Universal AC interrupted Zee Prime's wandering thoughts
    | , not with words
    | , but with guidance. 
    span(data-jmpress="fade-fast") Zee Prime's mentality was guided into the dim sea of Galaxies and one in particular enlarged into stars.
  p(data-jmpress="fade-fast") A thought came, infinitely distant, but infinitely clear.

section#back-milkyway(data-z="-10000", data-scale="13", data-exclude)
section#milkyway
  p.answer
    span(data-jmpress="fade after 1000ms step") THIS 
    span(data-jmpress="fade after 200ms prev") IS 
    span(data-jmpress="fade after 200ms prev") THE 
    span(data-jmpress="fade after 200ms prev") ORIGINAL 
    span(data-jmpress="fade after 200ms prev") GALAXY 
    span(data-jmpress="fade after 200ms prev") OF 
    span(data-jmpress="fade after 200ms prev") MAN.
  p(data-jmpress="fade-fast")
    | But it was the same after all
    span(data-jmpress="fade after 500ms prev") , the same as any other
    span(data-jmpress="fade after 1000ms prev") , and Zee Prime stifled his disappointment.
  p(data-jmpress="fade-fast")
    | Dee Sub Wun
    span(data-jmpress="fade after 500ms prev") , whose mind had accompanied the other
    span(data-jmpress="fade after 1000ms prev") , said suddenly
    span(data-jmpress="fade after 500ms prev") , "And is one of these stars the original star of Man?"
  p.answer(data-jmpress="fade-fast")
    | MAN'S ORIGINAL STAR HAS GONE NOVA.
    br
    | IT IS A WHITE DWARF.
  p(data-jmpress="fade-fast") "Did the men upon it die?" asked Zee Prime, startled and without thinking.
  p.answer(data-jmpress="fade-fast")
    | A NEW WORLD, AS IN SUCH CASES
    br
    | WAS CONSTRUCTED FOR THEIR PHYSICAL BODIES IN TIME.

section
  p
    | "Yes, of course," said Zee Prime, but a sense of loss overwhelmed him even so. 
    span(data-jmpress="fade-fast") His mind released its hold on the original Galaxy of Man
    span(data-jmpress="fade after 1000ms prev") , let it spring back and lose itself among the blurred pin points. 
    span(data-jmpress="fade-fast") He never wanted to see it again.
  p(data-jmpress="fade-fast") Dee Sub Wun said, "What is wrong?"
  p(data-jmpress="fade-fast") 
    | "The stars are dying. 
    span(data-jmpress="fade after 500ms prev") The original star is dead."
  p(data-jmpress="fade-fast") "They must all die. Why not?"
  p(data-jmpress="fade-fast")
    | "But when all energy is gone
    span(data-jmpress="fade after 500ms prev") , our bodies will finally die
    span(data-jmpress="fade after 500ms prev") , and you and I with them."
  p(data-jmpress="fade-fast") "It will take billions of years."

section
  p "I do not wish it to happen even after billions of years. Universal AC! How may stars be kept from dying?"
  p(data-jmpress="fade-fast")
    | Dee Sub Wun said in amusement, 
    span(data-jmpress="fade after 500ms prev") "You're asking how entropy might be reversed in direction."
  p.answer(data-jmpress="fade-fast")
    span(data-jmpress="fade after 200ms prev") THERE IS AS YET
    br 
    span(data-jmpress="fade after 200ms prev") INSUFFICIENT 
    span(data-jmpress="fade after 200ms prev") DATA 
    span(data-jmpress="fade after 200ms prev") FOR 
    span(data-jmpress="fade after 200ms prev") A 
    span(data-jmpress="fade after 200ms prev") MEANINGFUL 
    span(data-jmpress="fade after 200ms prev") ANSWER.
  p(data-jmpress="fade-fast")
    | Zee Prime's thoughts fled back to his own Galaxy. 
    span(data-jmpress="fade-fast") He gave no further thought to Dee Sub Wun
    span(data-jmpress="fade after 1000ms prev") , whose body might be waiting on a Galaxy a trillion light-years away
    span(data-jmpress="fade after 1000ms prev") , or on the star next to Zee Prime's own. 
    span(data-jmpress="fade-fast") It didn't matter.
  p(data-jmpress="fade-fast")
    | Unhappily, Zee Prime began collecting interstellar hydrogen out of which to build a small star of his own. 
    span(data-jmpress="fade-fast")
      | If the stars must someday die
      span(data-jmpress="fade after 1000ms prev") , at least some could yet be built.
  hr(data-jmpress="fade after 1000ms prev")