section#back-starmap(data-z="-10000", data-scale="13", data-exclude)
section#starmap
  p
    | VJ-23X of Lameth stared into the black depths of the three-dimensional, small-scale map of the Galaxy and said
    span(data-jmpress="fade-fast") , "Are we ridiculous
    span(data-jmpress="fade after 500ms prev") , I wonder 
    span(data-jmpress="fade after 500ms prev") in being so concerned about the matter?"
  p(data-jmpress="fade-fast")
    | MQ-17J of Nicron shook his head. 
    span(data-jmpress="fade after 500ms prev") "I think not. 
    span(data-jmpress="fade after 1000ms prev") You know the Galaxy will be filled in five years at the present rate of expansion."
  p(data-jmpress="fade-fast")
    | Both seemed in their early twenties
    span(data-jmpress="fade after 500ms prev") , both were tall and perfectly formed.

section
  p "Still," said VJ-23X, "I hesitate to submit a pessimistic report to the Galactic Council."
  p(data-jmpress="fade-fast")
    | "I wouldn't consider any other kind of report. 
    span(data-jmpress="fade after 1000ms prev") Stir them up a bit. We've got to stir them up."
  p(data-jmpress="fade-fast")
    | VJ-23X sighed. 
    span(data-jmpress="fade-fast")
      | "Space is infinite. 
      span(data-jmpress="fade after 1000ms prev") A hundred billion Galaxies are there for the taking. 
      span(data-jmpress="fade after 1000ms prev") More."

section
  p
    | "A hundred billion is not infinite and it's getting less infinite all the time. 
    span(data-jmpress="fade-fast") Consider! 
    span(data-jmpress="fade after 500ms prev") Twenty thousand years ago
    span(data-jmpress="fade after 500ms prev"), mankind first solved the problem of utilizing stellar energy
    span(data-jmpress="fade after 1000ms prev"), and a few centuries later
    span(data-jmpress="fade after 500ms prev"), interstellar travel became possible. 
    span(data-jmpress="fade-fast") It took mankind a million years to fill one small world 
    span(data-jmpress="fade after 1000ms prev") and then only fifteen thousand years to fill the rest of the Galaxy. 
    span(data-jmpress="fade-fast") Now the population doubles every ten years --
  p(data-jmpress="fade after 500ms prev") VJ-23X interrupted. "We can thank immortality for that."
  p(data-jmpress="fade-fast")
    | "Very well. 
    span(data-jmpress="fade-fast") Immortality exists 
    span(data-jmpress="fade after 500ms prev") and we have to take it into account. 
    span(data-jmpress="fade-fast") I admit it has its seamy side
    span(data-jmpress="fade after 500ms prev"), this immortality. 
    span(data-jmpress="fade-fast") The Galactic AC has solved many problems for us
    span(data-jmpress="fade after 1000ms prev"), but in solving the problem of preventing old age and death
    span(data-jmpress="fade after 1000ms prev"), it has undone all its other solutions."

section
  p
    | "Yet you wouldn't want to abandon life
    span(data-jmpress="fade after 1000ms step") , I suppose."
  p(data-jmpress="fade-fast")
    | "Not at all
    span(data-jmpress="fade after 500ms prev") ," snapped MQ-17J
    span(data-jmpress="fade after 500ms prev") , softening it at once to
    span(data-jmpress="fade after 1000ms prev") , "Not yet. 
    span(data-jmpress="fade-fast") I'm by no means old enough. 
    span(data-jmpress="fade after 1000ms prev") How old are you?"
  p(data-jmpress="fade-fast") "Two hundred twenty-three. And you?"
  p(data-jmpress="fade-fast")
    | "I'm still under two hundred. 
    span(data-jmpress="fade after 1000ms prev") --But to get back to my point. 
    span(data-jmpress="fade after 1000ms prev") Population doubles every ten years. 
    span(data-jmpress="fade-fast")
      | Once this GaIaxy is filled
      span(data-jmpress="fade after 500ms prev") , we'll have filled another in ten years. 
    span(data-jmpress="fade-fast") Another ten years and we'll have filled two more. 
    span(data-jmpress="fade-fast") Another decade, four more. 
    span(data-jmpress="fade after 1000ms prev")
      | In a hundred years
      span(data-jmpress="fade after 500ms prev") , we'll have filled a thousand Galaxies. 
    span(data-jmpress="fade-fast")
      | In a thousand years
      span(data-jmpress="fade after 500ms prev") , a million Galaxies. 
    span(data-jmpress="fade-fast")
      | In ten thousand years
      span(data-jmpress="fade after 500ms prev") , the entire known universe. 
      span(data-jmpress="fade after 1000ms prev") Then what?"

section
  p
    | VJ-23X said, "As a side issue, there's a problem of transportation. 
    span(data-jmpress="fade-fast") I wonder how many sunpower units it will take to move Galaxies of individuals from one Galaxy to the next."
  p(data-jmpress="fade-fast")
    | "A very good point. 
    span(data-jmpress="fade after 500ms prev") Already, 
    span(data-jmpress="fade after 500ms prev") mankind consumes two sunpower units per year."
  p(data-jmpress="fade-fast")
    | "Most of it's wasted. 
    span(data-jmpress="fade-fast") After all, 
    span(data-jmpress="fade after 500ms prev") our own Galaxy alone pours out a thousand sunpower units a year and we only use two of those."
  p(data-jmpress="fade-fast")
    | "Granted
    span(data-jmpress="fade after 500ms prev") , but even with a hundred per cent efficiency
    span(data-jmpress="fade after 500ms prev") , we only stave off the end. 
    span(data-jmpress="fade-fast") Our energy requirements are going up in a geometric progression even faster than our population. 
    span(data-jmpress="fade-fast")
      | We'll run out of energy even sooner than we run out of Galaxies. 
      span(data-jmpress="fade after 1000ms prev") A good point. 
      span(data-jmpress="fade after 500ms prev") A very good point."

section
  p "We'll just have to build new stars out of interstellar gas."
  p(data-jmpress="fade-fast")
    | "Or out of dissipated heat?" asked MQ-17J
    span(data-jmpress="fade after 500ms prev") , sarcastically.
  p(data-jmpress="fade-fast")
    | "There may be some way to reverse entropy. 
    span(data-jmpress="fade after 1000ms prev") We ought to ask the Galactic AC."
  p(data-jmpress="fade-fast")
    | VJ-23X was not really serious
    span(data-jmpress="fade after 1000ms prev") , but MQ-17J pulled out his AC-contact from his pocket 
    span(data-jmpress="fade after 1000ms prev") and placed it on the table before him.
  p(data-jmpress="fade-fast")
    | "I've half a mind to," he said. 
    span(data-jmpress="fade-fast") "It's something the human race will have to face someday."

section
  p
    | He stared somberly at his small AC-contact. 
    span(data-jmpress="fade-fast") It was only two inches cubed and nothing in itself
    span(data-jmpress="fade after 1000ms prev") , but it was connected through hyperspace with the great Galactic AC that served all mankind. 
    span(data-jmpress="fade-fast") Hyperspace considered, 
    span(data-jmpress="fade after 500ms prev") it was an integral part of the Galactic AC.
  p(data-jmpress="fade-fast")
    | MQ-17J paused to wonder if someday in his immortal life he would get to see the Galactic AC. 
    span(data-jmpress="fade-fast") It was on a little world of its own
    span(data-jmpress="fade after 1000ms prev") , a spider webbing of force-beams holding the matter within which surges of submesons took the place of the old clumsy molecular valves. 
    span(data-jmpress="fade-fast") Yet despite its sub-etheric workings
    span(data-jmpress="fade after 1000ms prev") , the Galactic AC was known to be a full thousand feet across.

section
  p
    | MQ-17J asked suddenly of his AC-contact
    span(data-jmpress="fade after 1000ms step") , "Can entropy ever be reversed?"
  p(data-jmpress="fade-fast")
    | VJ-23X looked startled and said at once
    span(data-jmpress="fade after 1000ms prev") , "Oh, say, I didn't really mean to have you ask that."
  p(data-jmpress="fade-fast") "Why not?"
  p(data-jmpress="fade-fast")
    | "We both know entropy can't be reversed. 
    span(data-jmpress="fade after 1000ms prev") You can't turn smoke and ash back into a tree."
  p(data-jmpress="fade-fast") "Do you have trees on your world?" asked MQ-17J.

section
  p
    | The sound of the Galactic AC startled them into silence. 
    span(data-jmpress="fade-fast") Its voice came thin and beautiful out of the small AC-contact on the desk. 
    span(data-jmpress="fade after 1000ms prev") It said:
  p.answer(data-jmpress="fade-fast")
    span(data-jmpress="fade after 200ms prev") INSUFFICIENT 
    span(data-jmpress="fade after 200ms prev") DATA 
    span(data-jmpress="fade after 200ms prev") FOR 
    span(data-jmpress="fade after 200ms prev") MEANINGFUL 
    span(data-jmpress="fade after 200ms prev") ANSWER.
  p(data-jmpress="fade-fast") VJ-23X said, "See!"
  p(data-jmpress="fade-fast") The two men thereupon returned to the question of the report they were to make to the Galactic Council.
  hr(data-jmpress="fade after 1000ms prev")