section#man
  p
    | Man considered with himself, for in a way, Man, mentally, was one. 
    span(data-jmpress="fade-fast") He consisted of a trillion
    span(data-jmpress="fade after 500ms prev") , trillion
    span(data-jmpress="fade after 500ms prev") , trillion ageless bodies
    span(data-jmpress="fade after 500ms prev") , each in its place
    span(data-jmpress="fade after 500ms prev") , each resting quiet and incorruptible
    span(data-jmpress="fade after 500ms prev") , each cared for by perfect automatons
    span(data-jmpress="fade after 500ms prev") , equally incorruptible
    span(data-jmpress="fade after 500ms prev") , while the minds of all the bodies freely melted one into the other
    span(data-jmpress="fade after 1000ms prev") , indistinguishable.
  p(data-jmpress="fade-fast") Man said, "The Universe is dying."

section
  p
    | Man looked about at the dimming Galaxies. 
    span(data-jmpress="fade-fast") The giant stars, spendthrifts, were gone long ago
    span(data-jmpress="fade after 1000ms prev") , back in the dimmest of the dim far past. 
    span(data-jmpress="fade-fast") Almost all stars were white dwarfs
    span(data-jmpress="fade after 500ms prev") , fading to the end.
  p(data-jmpress="fade-fast")
    | New stars had been built of the dust between the stars
    span(data-jmpress="fade after 500ms prev") , some by natural processes
    span(data-jmpress="fade after 500ms prev") , some by Man himself
    span(data-jmpress="fade after 500ms prev") , and those were going, too. 
    span(data-jmpress="fade-fast") White dwarfs might yet be crashed together and of the mighty forces so released
    span(data-jmpress="fade after 500ms prev") , new stars built
    span(data-jmpress="fade after 500ms prev") , but only one star for every thousand white dwarfs destroyed
    span(data-jmpress="fade after 500ms prev") , and those would come to an end, too.

section
  p Man said, "Carefully husbanded, as directed by the Cosmic AC, the energy that is even yet left in all the Universe will last for billions of years."
  p(data-jmpress="fade-fast")
    | "But even so," said Man
    span(data-jmpress="fade after 1000ms prev") , "eventually it will all come to an end. 
    span(data-jmpress="fade-fast") However it may be husbanded
    span(data-jmpress="fade after 500ms prev") , however stretched out
    span(data-jmpress="fade after 500ms prev") , the energy once expended is gone and cannot be restored. 
    span(data-jmpress="fade-fast") Entropy must increase forever to the maximum."
  p(data-jmpress="fade-fast")
    | Man said, "Can entropy not be reversed? 
    span(data-jmpress="fade after 1000ms prev") Let us ask the Cosmic AC."
  
section
  p
    | The Cosmic AC surrounded them but not in space. 
    span(data-jmpress="fade-fast") Not a fragment of it was in space. 
    span(data-jmpress="fade-fast") It was in hyperspace 
    span(data-jmpress="fade after 500ms prev") and made of something that was neither matter nor energy. 
    span(data-jmpress="fade-fast") The question of its size and nature no longer had meaning in any terms that Man could comprehend.
  p(data-jmpress="fade-fast") "Cosmic AC," said Man, "how may entropy be reversed?"
  p.answer(data-jmpress="fade-fast") INSUFFICIENT DATA FOR A MEANINGFUL ANSWER.
  p(data-jmpress="fade-fast") Man said, "Collect additional data."
  p.answer(data-jmpress="fade-fast")
    | I WILL DO SO. I HAVE BEEN DOING SO FOR A
    br
    | HUNDRED BILLION YEARS. MY PREDECESORS AND I
    br
    | HAVE BEEN ASKED THIS QUESTION MANY TIMES.
    br
    | ALL THE DATA I HAVE REMAINS INSUFFICIENT.

section
  p "Will there come a time," said Man, "when data will be sufficient or is the problem insoluble in all conceivable circumstances?"
  p.answer(data-jmpress="fade-fast")
    | NO PROBLEM IS INSOLUBLE
    br
    | IN ALL CONCEIVABLE CIRCUMSTANCES.
  p(data-jmpress="fade-fast") Man said, "When will you have enough data to answer the question?"
  p.answer(data-jmpress="fade-fast") INSUFFICIENT DATA FOR A MEANINGFUL ANSWER.
  p(data-jmpress="fade-fast") "Will you keep working on it?" asked Man.
  p.answer(data-jmpress="fade-fast") I WILL.
  p(data-jmpress="fade-fast") Man said, "We shall wait."
  hr(data-jmpress="fade after 1000ms prev")