section.back#back-intro(data-z="-10000", data-scale="13", data-exclude)
section#intro
  h1 The Last Question
  h3 Isaac Asimov
  
section#the-first-time
  p 
    | The last question was asked for the first time
    span(data-jmpress="fade after 1000ms step"), half in jest
    span(data-jmpress="fade after 500ms prev"), on May 21, 2061, 
    span(data-jmpress="fade after 500ms prev") at a time when humanity first stepped into the light. 
    span(data-jmpress="fade-fast") The question came about as a result of a five-dollar bet over highballs, and it happened this way:
  p(data-jmpress="fade-fast")
    | Alexander Adell and Bertram Lupov were two of the faithful attendants of Multivac. 
    span(data-jmpress="fade-fast") As well as any human beings could, they knew what lay behind the 
    span(data-jmpress="fade after 1000ms prev") cold, 
    span(data-jmpress="fade after 500ms prev") clicking, 
    span(data-jmpress="fade after 500ms prev") flashing face 
    span(data-jmpress="fade after 1000ms prev") -- miles and miles of face -- of that giant computer. 
    span(data-jmpress="fade-fast") They had at least a vague notion of the general plan of relays and circuits that had long since grown past the point where any single human could possibly have a firm grasp of the whole.

section#multivac
  p 
    | Multivac was self-adjusting and self-correcting. 
    span(data-jmpress="fade-fast") It had to be, 
    span(data-jmpress="fade after 500ms prev") for nothing human could adjust and correct it quickly enough or even adequately enough. 
    span(data-jmpress="fade-fast") So Adell and Lupov attended the monstrous giant only lightly and superficially, 
    span(data-jmpress="fade after 1500ms prev") yet as well as any men could. 
    span(data-jmpress="fade-fast") They fed it data, 
    span(data-jmpress="fade after 1000ms prev") adjusted questions to its needs 
    span(data-jmpress="fade after 1000ms prev") and translated the answers that were issued. 
    span(data-jmpress="fade-fast") Certainly they, and all others like them, were fully entitled to share in the glory that was Multivac's.

section#decades
  p
    | For decades, Multivac had helped design the ships and plot the trajectories that enabled man to reach 
    span.planets#moon(data-jmpress="fade-fast")
      | the Moon
      img(src="img/moon.png")
    span.planets#mars(data-jmpress="fade-fast")
      | , Mars
      img(src="img/mars.png")
    span.planets#venus(data-jmpress="fade-fast") 
      | , and Venus
      img(src="img/venus.png")
    span(data-jmpress="fade-fast") , but past that, 
    span(data-jmpress="fade after 500ms prev") Earth's poor resources could not support the ships. 
    span(data-jmpress="fade-fast") Too much energy was needed for the long trips. 
    span(data-jmpress="fade-fast") Earth exploited its coal and uranium with increasing efficiency
    span(data-jmpress="fade after 500ms prev") , but there was only so much of both.

section
  p 
    | But slowly Multivac learned enough to answer deeper questions more fundamentally, and on May 14, 2061, what had been theory, became fact.
  p(data-jmpress="fade-fast") 
    | The energy of the sun was stored
    span(data-jmpress="fade after 500ms prev") , converted
    span(data-jmpress="fade after 500ms prev") , and utilized 
    span(data-jmpress="fade after 500ms prev") directly on a planet-wide scale. 
    span(data-jmpress="fade-fast") All Earth turned off its burning coal
    span(data-jmpress="fade after 500ms prev") , its fissioning uranium
    span(data-jmpress="fade after 1000ms prev") , and flipped the switch that connected all of it to a small station, one mile in diameter, circling the Earth at half the distance of the Moon. 
  p(data-jmpress="fade-fast") All Earth ran by invisible beams of sunpower.

section
  p
    | Seven days had not sufficed to dim the glory of it and Adell and Lupov finally managed to escape from the public functions, and to meet in quiet where no one would think of looking for them, in the deserted underground chambers, where portions of the mighty buried body of Multivac showed. 
    span(data-jmpress="fade-fast") Unattended
    span(data-jmpress="fade after 500ms prev"), idling
    span(data-jmpress="fade after 500ms prev"), sorting data with contented lazy clickings
    span(data-jmpress="fade after 500ms prev"), Multivac, too, had earned its vacation and the boys appreciated that.
    span(data-jmpress="fade-fast") 
      | They had no intention
      span(data-jmpress="fade after 1500ms prev"), originally, 
      | of disturbing it.
  p(data-jmpress="fade-fast")
    | They had brought a bottle with them
    span(data-jmpress="fade after 1000ms prev"), and their only concern at the moment was to relax in the company of each other and the bottle.

section
  p
    | "It's amazing when you think of it," 
    span(data-jmpress="fade after 1000ms step") said Adell. 
    span(data-jmpress="fade-fast") His broad face had lines of weariness in it
    span(data-jmpress="fade after 1000ms prev") , and he stirred his drink slowly with a glass rod
    span.ice(data-jmpress="fade after 1000ms prev")
      | , watching the cubes of ice slur 
      span.clumsy clumsily
      |  about. 
  p(data-jmpress="fade-fast") 
    |"All the energy we can possibly ever use for free. 
    span(data-jmpress="fade-fast") Enough energy, if we wanted to draw on it
    span(data-jmpress="fade after 1000ms prev") , to melt all Earth into a big drop of impure liquid iron
    span(data-jmpress="fade after 1000ms prev") , and still never miss the energy so used. 
    span(data-jmpress="fade-fast") All the energy we could ever use
    span(data-jmpress="fade after 1000ms prev") , forever 
    span(data-jmpress="fade after 500ms prev") and forever 
    span(data-jmpress="fade after 500ms prev") and forever."

section#lupov
  p
    | Lupov cocked his head 
    span.sideways sideways
    | . 
    span(data-jmpress="fade-fast") He had a trick of doing that when he wanted to be contrary
    span(data-jmpress="fade after 1000ms prev"), and he wanted to be contrary now
    span(data-jmpress="fade after 1000ms prev"), partly because he had had to carry the ice and glassware. 
  p(data-jmpress="fade-fast") "Not forever," he said.
  p(data-jmpress="fade-fast")
    | "Oh, hell, just about forever. 
    span(data-jmpress="fade after 500ms prev") Till the sun runs down, Bert."
  p(data-jmpress="fade-fast") "That's not forever."
  p(data-jmpress="fade-fast")
    | "All right, then. 
    span(data-jmpress="fade after 500ms prev") Billions and billions of years. 
    span(data-jmpress="fade after 500ms prev") Ten billion, maybe. 
    span(data-jmpress="fade after 1000ms prev") Are you satisfied?"

section
  p
    | Lupov put his fingers through his 
    span.thinning thinning hair 
    | as though to reassure himself that some was still left and sipped gently at his own drink. "Ten billion years isn't forever."
  p(data-jmpress="fade-fast") "Well, it will last our time, won't it?"
  p(data-jmpress="fade-fast") "So would the coal and uranium."
  p(data-jmpress="fade-fast")
    | "All right
    span(data-jmpress="fade after 500ms prev") , but now we can hook up each individual spaceship to the Solar Station
    span(data-jmpress="fade after 1000ms prev") , and it can go to Pluto and back a million times without ever worrying about fuel. 
    span(data-jmpress="fade-fast") You can't do that on coal and uranium. 
    span(data-jmpress="fade-fast")
      | Ask Multivac
      span(data-jmpress="fade after 500ms prev") , if you don't believe me."
  p(data-jmpress="fade-fast") 
    | "I don't have to ask Multivac. 
    span(data-jmpress="fade-fast") I know that."
  p(data-jmpress="fade-fast") "Then stop running down what Multivac's done for us," said Adell, blazing up, "It did all right."

section
  p 
    | "Who says it didn't? What I say is that a sun won't last forever. 
    span(data-jmpress="fade-fast")
      | That's all I'm saying. 
      span.safe(data-jmpress="fade after 1000ms prev")
        | We're safe for ten billion years, but then what?" Lupov pointed a slightly 
        span.shaky shaky
        |  finger at the other. 
      span(data-jmpress="fade-fast") "And don't say we'll switch to another sun."
  p(data-jmpress="fade-fast")
    | There was silence for a while.
    p(data-jmpress="fade-fast")
      | Adell put his glass to his lips only occasionally
      span(data-jmpress="fade after 1000ms prev") , and Lupov's eyes slowly closed. 
      span(data-jmpress="fade after 1000ms prev") They rested.

section#switch
  p 
    | Then Lupov's eyes 
    span.snapped snapped open
    | . 
    p(data-jmpress="fade-fast")
      | "You're thinking we'll switch to another sun when ours is done
      span(data-jmpress="fade after 1000ms prev"), aren't you?"
  p(data-jmpress="fade-fast") "I'm not thinking."
  p(data-jmpress="fade-fast")
    | "Sure you are. 
    span(data-jmpress="fade after 500ms prev") You're weak on logic
    span(data-jmpress="fade after 500ms prev"), that's the trouble with you. 
    span(data-jmpress="fade-fast") You're like the guy in the story who was caught in a sudden shower and who ran to a grove of trees and got under one. 
    span(data-jmpress="fade-fast")
      | He wasn't worried
      span(data-jmpress="fade after 500ms prev") , you see
      span(data-jmpress="fade after 500ms prev") , because he figured when one tree got wet through
      span(data-jmpress="fade after 1000ms prev") , he would just get under another one."

section
  p 
    | "I get it," said Adell. 
    span(data-jmpress="fade-fast")
      | "Don't shout. 
      span(data-jmpress="fade after 500ms prev") When the sun is done
      span(data-jmpress="fade after 500ms prev") , the other stars will be gone, too."
  p(data-jmpress="fade-fast")
    | "Darn right they will," muttered Lupov. 
    span(data-jmpress="fade-fast") 
      | "It all had a beginning in the original cosmic explosion
      span(data-jmpress="fade after 500ms prev") , whatever that was
      span(data-jmpress="fade after 500ms prev") , and it'll all have an end when all the stars run down. 
      span(data-jmpress="fade-fast") Some run down faster than others. 
      span(data-jmpress="fade-fast") Hell
      span(data-jmpress="fade after 500ms prev") , the giants won't last a hundred million years. 
      span(data-jmpress="fade-fast") The sun will last ten billion years 
      span(data-jmpress="fade after 500ms prev") and maybe the dwarfs will last two hundred billion for all the good they are. 
      span(data-jmpress="fade-fast")
        | But just give us a trillion years and 
        span.dark everything will be dark
        | . 
      span(data-jmpress="fade-fast") Entropy has to increase to maximum, that's all."

section
  p
    | "I know all about entropy," 
    span(data-jmpress="fade after 500ms step") said Adell
    span(data-jmpress="fade after 500ms prev") , standing on his dignity.
  p(data-jmpress="fade-fast") "The hell you do."
  p(data-jmpress="fade-fast") "I know as much as you do."
  p(data-jmpress="fade-fast") "Then you know everything's got to run down someday."
  p(data-jmpress="fade-fast")
    | "All right.
    span(data-jmpress="fade after 500ms prev")  Who says they won't?"
  p(data-jmpress="fade-fast")
    | "You did
    span(data-jmpress="fade after 500ms prev") , you poor sap. 
    span(data-jmpress="fade after 500ms prev") You said we had all the energy we needed
    span(data-jmpress="fade after 500ms prev"), forever. 
    span(data-jmpress="fade after 1000ms prev") You said 'forever.'

section
  p
    | It was Adell's turn to be contrary. 
    span(data-jmpress="fade after 1000ms step") "Maybe we can build things up again someday," 
    span(data-jmpress="fade after 500ms prev") he said.
  p(data-jmpress="fade-fast") "Never."
  p(data-jmpress="fade-fast") "Why not? Someday."
  p(data-jmpress="fade-fast") "Never."
  p(data-jmpress="fade-fast") "Ask Multivac."
  p(data-jmpress="fade-fast")
    | "You ask Multivac. 
    span(data-jmpress="fade after 500ms prev") I dare you. 
    span(data-jmpress="fade after 1000ms prev") Five dollars says it can't be done."

section
  p
    | Adell was just drunk enough to try, just sober enough to be able to phrase the necessary symbols and operations into a question which, in words, might have corresponded to this: 
    span(data-jmpress="fade-fast")
      | Will mankind one day without the net expenditure of energy be able to restore the sun to its full youthfulness 
      span(data-jmpress="fade after 1000ms prev") even after it had died of old age?
  p(data-jmpress="fade-fast")
    | Or maybe it could be put more simply like this: 
    span(data-jmpress="fade-fast") How can the net amount of entropy of the universe be massively decreased?
  p(data-jmpress="fade-fast")
    | Multivac fell dead and silent. 
    span(data-jmpress="fade-slow") The slow flashing of lights ceased, 
    span(data-jmpress="fade after 1000ms prev") the distant sounds of clicking relays ended.

section
  p Then, just as the frightened technicians felt they could hold their breath no longer, there was a sudden springing to life of the teletype attached to that portion of Multivac. Five words were printed: 
  p.answer(data-jmpress="fade-fast") 
    span(data-jmpress="fade after 200ms prev") INSUFFICIENT 
    span(data-jmpress="fade after 200ms prev") DATA 
    span(data-jmpress="fade after 200ms prev") FOR 
    span(data-jmpress="fade after 200ms prev") MEANINGFUL 
    span(data-jmpress="fade after 200ms prev") ANSWER.
  p(data-jmpress="fade-fast")
    | "No bet," whispered Lupov. 
    span(data-jmpress="fade after 500ms prev") They left hurriedly.
  p(data-jmpress="fade-fast")
    | By next morning
    span(data-jmpress="fade after 500ms prev"), the two
    span(data-jmpress="fade after 500ms prev"), plagued with throbbing head and cottony mouth
    span(data-jmpress="fade after 1000ms prev"), had forgotten the incident.
  hr(data-jmpress="fade after 500ms prev")