section.back#back-hyperspace(data-z="-10000", data-scale="13", data-exclude)
section#hyperspace
  p Jerrodd, Jerrodine, and Jerrodette I and II watched the starry picture in the visiplate change as the passage through hyperspace was completed in its non-time lapse.
section.back#back-x23(data-z="-10000", data-scale="13", data-exclude)
section#x23
  p
    | At once, the even powdering of stars gave way to the predominance of a single bright shining disk
    span(data-jmpress="fade after 1000ms step") , the size of a marble
    span(data-jmpress="fade after 500ms prev") , centered on the viewing-screen.
  p(data-jmpress="fade-fast")
    | "That's X-23," said Jerrodd confidently. 
    span(data-jmpress="fade after 500ms prev") His thin hands clamped tightly behind his back and the knuckles whitened.

section
  p
    | The little Jerrodettes
    span(data-jmpress="fade after 1000ms step") , both girls
    span(data-jmpress="fade after 500ms prev") , had experienced the hyperspace passage for the first time in their lives and were self-conscious over the momentary sensation of insideoutness. 
    span(data-jmpress="fade-fast")
      | They buried their giggles 
      span(data-jmpress="fade after 500ms prev") and chased one another wildly about their mother
      span(data-jmpress="fade after 500ms prev"), screaming, "We've reached X-23 -- we've reached X-23 -- we've --"
  p(data-jmpress="fade-fast")
    | "Quiet, children." said Jerrodine sharply. 
    span(data-jmpress="fade-fast") "Are you sure, Jerrodd?"
  p(data-jmpress="fade-fast")
    | "What is there to be but sure?" asked Jerrodd, glancing up at the bulge of featureless metal just under the ceiling. 
    span(data-jmpress="fade-fast") 
      | It ran the length of the room, 
      span(data-jmpress="fade after 500ms prev") disappearing through the wall at either end. 
      span(data-jmpress="fade-fast") It was as long as the ship.

section
  p
    | Jerrodd scarcely knew a thing about the thick rod of metal except that it was called a Microvac, that one asked it questions if one wished
    span(data-jmpress="fade-fast") ; that if one did not it still had its task of guiding the ship to a preordered destination
    span(data-jmpress="fade-fast") ; of feeding on energies from the various Sub-galactic Power Stations
    span(data-jmpress="fade-fast") ; of computing the equations for the hyperspatial jumps.
  p(data-jmpress="fade-fast")
    | Jerrodd and his family had only to wait and live in the comfortable residence quarters of the ship. 
    span(data-jmpress="fade-fast") Someone had once told Jerrodd that the "ac" at the end of "Microvac" stood for ''automatic computer" in ancient English
    span(data-jmpress="fade after 1000ms prev") , but he was on the edge of forgetting even that.

section
  p
    | Jerrodine's eyes were moist as she watched the visiplate. 
    span(data-jmpress="fade-fast") "I can't help it. 
    span(data-jmpress="fade after 500ms prev") I feel funny about leaving Earth."
  p(data-jmpress="fade-fast")
    | "Why, for Pete's sake?" demanded Jerrodd. 
    span(data-jmpress="fade-fast") "We had nothing there. 
    span(data-jmpress="fade after 1000ms prev") We'll have everything on X-23. 
    span(data-jmpress="fade after 500ms prev") You won't be alone. 
    span(data-jmpress="fade after 500ms prev") You won't be a pioneer. 
    span(data-jmpress="fade after 500ms prev") There are over a million people on the planet already. 
    span(data-jmpress="fade-fast") Good Lord, our great-grandchildren will be looking for new worlds because X-23 will be overcrowded." 
    span(data-jmpress="fade-fast") Then, after a reflective pause
    span(data-jmpress="fade after 1000ms prev") , "I tell you, it's a lucky thing the computers worked out interstellar travel the way the race is growing."
  p(data-jmpress="fade-fast") "I know, I know," said Jerrodine miserably.
  p(data-jmpress="fade-fast")
    | Jerrodette I said promptly
    span(data-jmpress="fade after 500ms prev") , "Our Microvac is the best Microvac in the world."
  p(data-jmpress="fade-fast") "I think so, too," said Jerrodd, tousling her hair.

section
  p
    | It was a nice feeling to have a Microvac of your own and Jerrodd was glad he was part of his generation and no other. 
    span(data-jmpress="fade-fast") In his father's youth, the only computers had been tremendous machines taking up a hundred square miles of land. 
    span(data-jmpress="fade-fast") There was only one to a planet. 
    span(data-jmpress="fade after 500ms prev") Planetary ACs they were called. 
    span(data-jmpress="fade-fast")
      | They had been growing in size steadily for a thousand years and then
      span(data-jmpress="fade after 1000ms prev") , all at once
      span(data-jmpress="fade after 500ms prev") , came refinement. 
    span(data-jmpress="fade-fast") In place of transistors, had come molecular valves so that even the largest Planetary AC could be put into a space only half the volume of a spaceship.
  p(data-jmpress="fade-fast")
    | Jerrodd felt uplifted
    span(data-jmpress="fade after 500ms prev") , as he always did when he thought that his own personal Microvac was many times more complicated than the ancient and primitive Multivac that had first tamed the Sun
    span(data-jmpress="fade after 1000ms prev"), and almost as complicated as Earth's Planetarv AC (the largest) that had first solved the problem of hyperspatial travel and had made trips to the stars possible.

section
  p
    | "So many stars, so many planets," sighed Jerrodine, busy with her own thoughts. 
    span(data-jmpress="fade-fast") "I suppose families will be going out to new planets forever
    span(data-jmpress="fade after 500ms prev") , the way we are now."
  p(data-jmpress="fade-fast")
    | "Not forever," said Jerrodd, with a smile. 
    span(data-jmpress="fade-fast")
      | "It will all stop someday
      span(data-jmpress="fade after 500ms prev") , but not for billions of years. 
      span(data-jmpress="fade after 500ms prev") Many billions. 
    span(data-jmpress="fade-fast") Even the stars run down, you know. 
    span(data-jmpress="fade-fast") Entropy must increase."
  p(data-jmpress="fade-fast") "What's entropy, daddy?" shrilled Jerrodette II.
  p(data-jmpress="fade-fast") 
    | "Entropy, little sweet, is just a word which means the amount of running-down of the universe. 
    span(data-jmpress="fade-fast")
      | Everything runs down
      span(data-jmpress="fade after 500ms prev") , you know
      span(data-jmpress="fade after 500ms prev") , like your little walkie-talkie robot, remember?"

section
  p "Can't you just put in a new power-unit, like with my robot?"
  p(data-jmpress="fade-fast")
    | "The stars are the power-units, dear. 
    span(data-jmpress="fade-fast")
      | Once they're gone
      span(data-jmpress="fade after 500ms prev") , there are no more power-units."
  p(data-jmpress="fade-fast")
    | Jerrodette I at once set up a howl. 
    span(data-jmpress="fade-fast") "Don't let them, daddy. 
    span(data-jmpress="fade after 500ms prev") Don't let the stars run down."
  p(data-jmpress="fade-fast") "Now look what you've done," whispered Jerrodine, exasperated.
  p(data-jmpress="fade-fast") "How was I to know it would frighten them?" Jerrodd whispered back.
  p(data-jmpress="fade-fast")
    | "Ask the Microvac," wailed Jerrodette I. 
    span(data-jmpress="fade after 1000ms prev") "Ask him how to turn the stars on again."
  p(data-jmpress="fade-fast")
    | "Go ahead," said Jerrodine. 
    span(data-jmpress="fade after 500ms prev") "It will quiet them down." (Jerrodette II was beginning to cry, also.)
  p(data-jmpress="fade-fast")
    | Jerrodd shrugged. 
    span(data-jmpress="fade after 500ms prev") "Now, now, honeys. I'll ask Microvac. Don't worry, he'll tell us."

section
  p He asked the Microvac, adding quickly, "Print the answer."
  p(data-jmpress="fade-fast")
    | Jerrodd cupped the strip or thin cellufilm and said cheerfully
    span(data-jmpress="fade after 1000ms prev") , "See now, the Microvac says it will take care of everything when the time comes so don't worry."
  p(data-jmpress="fade-fast")
    | Jerrodine said, "And now, children, it's time for bed. 
    span(data-jmpress="fade after 1000ms prev") We'll be in our new home soon."
  p(data-jmpress="fade-fast") Jerrodd read the words on the cellufilm again before destroying it:
  p.answer(data-jmpress="fade-fast") 
    span(data-jmpress="fade after 200ms prev") INSUFFICIENT 
    span(data-jmpress="fade after 200ms prev") DATA 
    span(data-jmpress="fade after 200ms prev") FOR 
    span(data-jmpress="fade after 200ms prev") MEANINGFUL 
    span(data-jmpress="fade after 200ms prev") ANSWER.
  p(data-jmpress="fade-fast") He shrugged and looked at the visiplate. X-23 was just ahead.
  hr(data-jmpress="fade after 500ms prev")