#jmpress(data-template="auto")
  include _intro
  include _section1
  include _section2
  include _section3
  include _section4
  include _section5
  include _section6
  include _section7

i.icon-play#little-arrow