!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content= "Theodor Văraru")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no")
    
    title The Last Question
    
    meta(property="og:title", content="The Last Question")
    meta(property="og:image", content="img/thelastquestion.jpg")
    meta(property="og:site_name", content="The Last Question")
    meta(property="og:description", content="A modern take on a classical piece of short science fiction from the venerable Isaac Asimov, with an unforgettable ending.")
    
    link(rel='stylesheet', href='css/master.css')
    link(rel="apple-touch-icon", href="img/the-last-question.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/the-last-question-ipad.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/the-last-question-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/the-last-question-ipad-retina.png")
    meta(name="apple-mobile-web-app-capable", content="yes")
    
  body
    != yield

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(data-main="js/main", src="js/require.js")
  != livereload