@import '../components/font-awesome/css/font-awesome.min.css'
@import '../components/jmpress/animations.css'
@import '_settings'

normalize()
base()
typography()

body
  background black
  color white

h1, h2, h3, h4, h5, h6
  color white

section
  size 800px 500px
  opacity 0
  transition all 0.5s ease-in-out

section.active
  opacity 1